# Auto detect text files and perform LF normalization
* text=auto
*.fnc linguist-language=PL/SQL
*.pck linguist-language=PL/SQL
*.prc linguist-language=PL/SQL
*.trg linguist-language=PL/SQL
*.typ linguist-language=PL/SQL
*.tys linguist-language=PL/SQL
